h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

p {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    background-color: #ccc;
    width: 500px;
    padding: 10px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-top: 1px solid #000;
}