.alunofeliz {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #a7ecece;
    padding: 25px;
    margin: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 1.9em;
    color: #444444;
}