#caixinhabonita {
    width: 323px;
    margin: 2px;
    padding: 5px;
    border: 4px solid green;
    background-color: #D7CCCC;
}

p {
    font-family: sans-serif;
}

.linkvermelho {
    color: red;
    text-decoration: underline;
}